@use 'styles/colors.scss' as c;

.Button {
	border-radius: 8px;
	font-weight: 500;
	transition: background ease-in 0.1s, color ease-in 0.1s;
	background: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

// Variant

.SolidPrimary {
	border: none;
	background-color: c.$primary-default;
	color: c.$white;
	fill: c.$white;

	&:hover {
		background-color: c.$primary-darker;
	}
}

.OutlinedPrimary {
	border: 2px solid c.$primary-darker;
	color: c.$primary-darker;

	&:hover {
		background-color: c.$primary-lighter300;
	}
}

.TextPrimary {
	color: c.$primary-darkest;
	fill: c.$primary-darkest;
	stroke: c.$primary-darkest;

	&:hover {
		background-color: c.$primary-lighter300;
	}
}

// Size

.Medium {
	padding: 0 1rem;
	font-size: 1rem;
	height: 2.5rem;

	.Icon {
		width: 1.25rem;
		height: 1.25rem;
	}
}

.Medium.Round {
	border-radius: 1.25rem;
}

.Medium.IconOnly {
	padding: 0 0.5rem;

	.Icon {
		width: 1.5rem;
		height: 1.5rem;
	}
}
