@use 'styles/colors' as c

.Button
  border-radius: 8px
  font-weight: 500
  transition: background ease-in 0.1s, color ease-in 0.1s
  background: none
  display: inline-flex
  align-items: center
  justify-content: center

// Variant

.Solid
  border: none
  color: c.$white
  fill: c.$white

.Outlined
  border-style: solid
  border-width: 2px

// color

.Solid.Primary
  background-color: c.$primary-default

  &:hover
    background-color: c.$primary-darker

.Solid.Dark
  background-color: c.$gray-darker200

  &:hover
    background-color: c.$gray-darkest

.Outlined.Primary
  border-color: c.$primary-darker
  color: c.$primary-darker
  fill: c.$primary-darkest
  stroke: c.$primary-darkest

  &:hover
    background-color: c.$primary-lighter300

.Outlined.Dark
  border-color: c.$gray-darker200
  color: c.$gray-darker200
  fill: c.$gray-darker200
  stroke: c.$gray-darker200

  &:hover
    background-color: c.$gray-lighter200

.Text.Primary
  color: c.$primary-darkest
  fill: c.$primary-darkest
  stroke: c.$primary-darkest

  &:hover
    background-color: c.$primary-lighter300

.Text.Dark
  color: c.$gray-darker200
  fill: c.$gray-darker200
  stroke: c.$gray-darker200

  &:hover
    background-color: c.$gray-lighter200

// Size

.Medium
  padding: 0 1rem
  font-size: 1rem
  height: 2.5rem

  .Icon
    width: 1.25rem
    height: 1.25rem

.Medium.Round
  border-radius: 1.25rem

.Medium.IconOnly
  padding: 0 0.5rem

  .Icon
    width: 1.5rem
    height: 1.5rem
