@use 'styles/mediaQueries' as mq;
@use 'styles/colors' as c;

.Container {
	border-top: 1px solid c.$gray-default;
}

@media screen and (max-width: mq.$sm) {
	.Container {
		padding: 3rem 2rem 4.5rem 2rem;
	}
}

@media screen and (min-width: mq.$sm) {
	.Container {
		padding: 4rem 3rem 5.5rem 3rem;
	}
}

@media screen and (min-width: mq.$lg) {
	.Container {
		padding: 4rem 4rem 5.5rem 4rem;
	}
}

@media screen and (min-width: mq.$xl) {
	.Container {
		padding: 4rem 4.5rem 5.5rem 4.5rem;
	}
}
