@use 'styles/mediaQueries' as mq

.List
  padding: 0 2rem
  display: grid
  grid-template-columns: 1fr
  gap: 3rem

@media screen and (min-width: mq.$md)
  .List
    display: grid
    column-gap: 56px
    justify-content: center
    grid-template-columns: repeat(auto-fit, 288px)

    .Title
      width: 100%
      grid-column: 1 / -1 // span the all fist column
