@use 'styles/colors' as c

.Toast
  padding: 0.75rem 1rem 0.75rem 0.75rem
  border-radius: 0.75rem
  display: flex
  align-items: center
  gap: 0.75rem
  height: fit-content
  width: 22.375rem
  color: c.$white
  fill: currentColor

  .ToastIcon
    height: 2.5rem
    width: 2.5rem

  .ToastVL
    align-self: normal
    width: 0.25rem
    background-color: c.$white
    border-radius: 0.125rem

  .ToastMain
    flex-grow: 1

  .CloseBtn,
  .CloseBtn:hover
    fill: c.$white
    stroke: c.$white

  .CloseBtn:hover
    background-color: c.$red-darker

// VARIANTS

@mixin variant($color, $hoverBgColor)
  background-color: $color

  .CloseBtn:hover
    background-color: $hoverBgColor
  

.Danger
  @include variant(c.$red-default, c.$red-darker)
  
.Warning
  @include variant(c.$warning-default, c.$warning-darker)

.Info
  @include variant(c.$info-default, c.$info-darker)

.Success
  @include variant(c.$success-default, c.$success-darker)
