.Text
  font-size: 0.875rem

// FONTS

.SansSerif
  font-family: inherit

.Serif
  font-family: 'Roboto Slab', serif

// VARIANTS

.ExtraExtraExtraLarge
  font-size: 3rem

.ExtraExtraLarge
  font-size: 2rem

.ExtraLarge
  font-size: 1.5rem

.Large
  font-size: 1.25rem

.Medium
  font-size: 1rem

.Small
  font-size: 0.875rem

.ExtraSmall
  font-size: 0.75rem
