@use 'styles/colors' as c

.Spinner
  border-radius: 50%
  border-style: solid
  border-color: c.$gray-lighter
  border-top-color: c.$primary-default
  -webkit-animation: spin 2s linear infinite
  animation: spin 2s linear infinite

/* Safari */
@-webkit-keyframes spin
  0% 
  -webkit-transform: rotate(0deg)

  100% 
  -webkit-transform: rotate(360deg)

@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

// Size

@mixin size($size, $borderW)
  width: $size
  height: $size
  border-width: $borderW

.Small
  @include size(1.25rem, 0.2rem)

.Medium
  @include size(2rem, 0.25rem)
