@use './typhographies' as t

// Flex

.col
  display: inline-flex

// Sizing

.w-full
  width: 100%

// Font

.font-semibold
  font-weight: t.$semibold

// Padding

.px2
  padding-left: 2rem
  padding-right: 2rem

// Margin

.my0p25
  margin-top: 0.25rem
  margin-bottom: 0.25rem

.my0p5
  margin-top: 0.5rem
  margin-bottom: 0.5rem

.mt0p25
  margin-top: 0.25rem

.mr0p5
  margin-right: 0.5rem

.mr-16
  margin-right: 16px

.mr2
  margin-right: 2rem

.mb4
  margin-bottom: 4rem

.ml0p75
  margin-left: 0.75rem
